@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: better default rendering on dark UI */
html,
body {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
